<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.testcomponentsample"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />
    <uses-permission android:name="android.permission.RECEIVE_SMS"/>
    <permission android:name="com.example.testcomponentsample.permission.TEN_COUNT" android:protectionLevel="signature"></permission>
    <uses-permission android:name="com.example.testcomponentsample.permission.TEN_COUNT"/>
    <uses-permission android:name="android.permission.VIBRATE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.testcomponentsample.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="MyActivity" android:launchMode="standard" android:screenOrientation="sensor"></activity>
        <service android:name="MyService"></service>
        <receiver android:name="SMSReciver">
            <intent-filter android:priority="10000">
                <action android:name="android.provider.Telephony.SMS_RECEIVED"/>
            </intent-filter>
        </receiver>
        <activity android:name="SMSActivity" android:exported="true"></activity>
        <activity android:name="SMSCancelActivity" android:exported="true"></activity>
    </application>

</manifest>
