<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	<servlet>
		<servlet-name>HelloWebApp</servlet-name>
		<servlet-class>org.tacademy.web.hellowebapp.HelloWebAppServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Registration</servlet-name>
		<servlet-class>org.tacademy.web.hellowebapp.Registration</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>RegistrationList</servlet-name>
		<servlet-class>org.tacademy.web.hellowebapp.RegistrationList</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>RegistrationDelete</servlet-name>
		<servlet-class>org.tacademy.web.hellowebapp.RegistrationDelete</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>C2DMSend</servlet-name>
		<servlet-class>org.tacademy.web.hellowebapp.C2DMSend</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UploadFile</servlet-name>
		<servlet-class>org.tacademy.web.hellowebapp.UploadFile</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UploadForm</servlet-name>
		<servlet-class>org.tacademy.web.hellowebapp.UploadForm</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>InsertUserId</servlet-name>
		<servlet-class>org.tacademy.web.hellowebapp.InsertUserId</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ShowFile</servlet-name>
		<servlet-class>org.tacademy.web.hellowebapp.ShowFile</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ShowImage</servlet-name>
		<servlet-class>org.tacademy.web.hellowebapp.ShowImage</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Download</servlet-name>
		<servlet-class>org.tacademy.web.hellowebapp.Download</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>GetUploadUrl</servlet-name>
		<servlet-class>org.tacademy.web.hellowebapp.GetUploadUrl</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>BoardList</servlet-name>
		<servlet-class>org.tacademy.web.hellowebapp.BoardList</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>BoardDelete</servlet-name>
		<servlet-class>org.tacademy.web.hellowebapp.BoardDelete</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>BoardInsert</servlet-name>
		<servlet-class>org.tacademy.web.hellowebapp.BoardInsert</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>BoardUpdate</servlet-name>
		<servlet-class>org.tacademy.web.hellowebapp.BoardUpdate</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ReplyDelete</servlet-name>
		<servlet-class>org.tacademy.web.hellowebapp.ReplyDelete</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ReplyInsert</servlet-name>
		<servlet-class>org.tacademy.web.hellowebapp.ReplyInsert</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ReplyUpdate</servlet-name>
		<servlet-class>org.tacademy.web.hellowebapp.ReplyUpdate</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>LoginInfoUpload</servlet-name>
		<servlet-class>org.tacademy.web.hellowebapp.LoginInfoUpload</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>C2DMRegistration</servlet-name>
		<servlet-class>org.tacademy.web.hellowebapp.C2DMRegistration</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>C2DMMessageSend</servlet-name>
		<servlet-class>org.tacademy.web.hellowebapp.C2DMMessageSend</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>HelloWebApp</servlet-name>
		<url-pattern>/hellowebapp</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Registration</servlet-name>
		<url-pattern>/registration</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RegistrationList</servlet-name>
		<url-pattern>/registrationlist</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RegistrationDelete</servlet-name>
		<url-pattern>/registrationdelete</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>C2DMSend</servlet-name>
		<url-pattern>/c2dmsend</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>InsertUserId</servlet-name>
		<url-pattern>/insertuserid</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UploadFile</servlet-name>
		<url-pattern>/uploadfile</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UploadForm</servlet-name>
		<url-pattern>/uploadform</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ShowFile</servlet-name>
		<url-pattern>/showfile</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ShowImage</servlet-name>
		<url-pattern>/showimage</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Download</servlet-name>
		<url-pattern>/download</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GetUploadUrl</servlet-name>
		<url-pattern>/getuploadurl</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>BoardList</servlet-name>
		<url-pattern>/boardlist</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>BoardDelete</servlet-name>
		<url-pattern>/boarddelete</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>BoardInsert</servlet-name>
		<url-pattern>/boardinsert</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>BoardUpdate</servlet-name>
		<url-pattern>/boardupdate</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ReplyDelete</servlet-name>
		<url-pattern>/replydelete</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ReplyInsert</servlet-name>
		<url-pattern>/replyinsert</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ReplyUpdate</servlet-name>
		<url-pattern>/replyupdate</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LoginInfoUpload</servlet-name>
		<url-pattern>/logininfoupload</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>C2DMRegistration</servlet-name>
		<url-pattern>/c2dmregistration</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>C2DMMessageSend</servlet-name>
		<url-pattern>/c2dmmessagesend</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>TestPost</servlet-name>
		<servlet-class>org.tacademy.web.hellowebapp.TestPost</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TestPost</servlet-name>
		<url-pattern>/testpost</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>TestLogin</servlet-name>
		<servlet-class>org.tacademy.web.hellowebapp.TestLogin</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TestLogin</servlet-name>
		<url-pattern>/testlogin</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>TestUserInfoUpload</servlet-name>
		<servlet-class>org.tacademy.web.hellowebapp.TestUserInfoUpload</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TestUserInfoUpload</servlet-name>
		<url-pattern>/testuserinfoupload</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>
