<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	<servlet>
		<servlet-name>DataStoreSample</servlet-name>
		<servlet-class>com.example.web.DataStoreSampleServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DataStoreSample</servlet-name>
		<url-pattern>/datastoresample</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>DataStore2Servlet</servlet-name>
		<servlet-class>com.example.web.DataStore2Servlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DataStore2Servlet</servlet-name>
		<url-pattern>/datastore2</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>DataStoreSearchServlet</servlet-name>
		<servlet-class>com.example.web.DataStoreSearchServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DataStoreSearchServlet</servlet-name>
		<url-pattern>/datasearch</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>
